.group {
	.table {
		display: flex;
		flex-grow: 1;
		overflow: hidden;
		z-index: 1;
		.tablist {
			flex-grow: 1;
			position: relative;
			transition: transform 500ms cubic-bezier(0.35, 0, 0.25, 1);
			background-color: #0069c8;
			padding: 10px;
			border-radius: 3px;

			.labels {
				display: flex;

				.item {
					@media (max-width: 639px) {
						&:nth-child(2) {
							display: none;
						}
						&:nth-child(3) {
							display: none;
						}
					}
					height: 48px;
					padding: 0 24px;
					cursor: pointer;
					box-sizing: border-box;
					opacity: 0.6;
					// min-width: 160px;
					text-align: center;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					white-space: nowrap;
					position: relative;
					z-index: 2;
					margin-left: 4px;
					background-color: rgba(255, 255, 255, 0.2);
					border-radius: 3px;
					color: white !important;
					opacity: 1 !important;
					@media (max-width: 639px) {
						width: 100%;
					}
					.content {
						display: inline-flex;
						justify-content: center;
						align-items: center;
						white-space: nowrap;

						color: #fff;

						> span {
							color: #fff;
						}
						// background-color: #3f51b5;
					}
				}
			}

			.checked {
				visibility: visible;
				left: 10px;
				width: 160px;
				background-color: #3f51b5;
				position: absolute;
				bottom: 0;
				height: 2px;
				transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
			}
		}
	}

	.body {
		position: relative;
		overflow: hidden;
		display: flex;
		transition: height 500ms cubic-bezier(0.35, 0, 0.25, 1);
		.body_content {
			height: 100%;
			overflow: auto;
			transform: none;
			@media (min-width: 992px) {
				background-color: #f9f9fb;
				padding: 20px;
				// height: 200px;
				width: 100%;
			}

			.radio {
				display: flex;
				justify-content: right;
				flex-wrap: wrap;
				margin-right: -15px;
				margin-left: -15px;
				vertical-align: middle !important;
			}

			.content {
				width: 100% !important;

				> table {
					width: 100% !important;

					margin-bottom: 1rem;
					// color: #212529;
					color: #000 !important;

					> tbody {
						width: 100% !important;

						> tr {
							margin-bottom: 60px;

							// &:nth-child(2) {
							// 	color: #000 !important;
							// 	font-weight: 900 !important;
							// 	opacity: 1 !important;
							// }

							> td {
								padding: 0.75rem;
								vertical-align: top;
								border-bottom: 1px solid #dee2e6 !important;
								// border: 0 !important;

								> div {
									margin-bottom: 16px;
									color: grey;
									font-size: 100%;
									justify-content: space-between !important;
									display: flex !important;
									> div {
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
