.navContainer {
	@apply items-center mx-auto;
	width: 900px;
	@media (max-width: 768px) {
		width: 100%;
	}
	> span {
		@apply hidden;
		@media (max-width: 950px) {
			@apply block ml-4;
		}
	}
}

.header {
	@apply items-center  z-4 fixed   top-0 left-0 w-full;
	padding: 15px;
	height: 52px;
	background-color: #002f68;
	.container {
		@apply items-center;

		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
	}
}
